body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
}

.menu-background {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Ocupa metade da largura */
  max-width: 650px;
  background-color: rgb(227, 241, 104);
  padding: 20px;
  box-sizing: border-box; /* Inclui o padding na largura total */
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.mat-card-footer {
  display: flex;
  justify-content: center;
}

.mat-card-footer button {
  width: 40px;
  height: 40px;
}
